<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> <!-- Recommended -->
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="shortcut icon" href="/images/android-chrome-192x192.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"> -->
    <title>Cuberto</title>
</head>
<body>
    <div class="main">
        <div class="menubar ">
            <span onclick=closemenubar()><i class="fa-solid fa-xmark closemenubar"></i></span>
            <!-- <div class="profile links">
                <a href="#" >Profile</a>
                <i class="fa-solid fa-user"></i>
            </div> -->
            <a class="links col" href="/webposts">Create Posts</a>
            <a class="links col" href="/publicposts">public posts</a>
            <a class="links col" href="/logout">Logout</a>
        </div>
        <div class="page1">
            <div class="nav">
                <img class="magnet" src="/images/android-chrome-192x192.png" alt="error">
                <div class="subnav">
                    <a class="links" href="/logout">Logout</a>
                    <a class="links" href="/webposts">Create Posts</a>
                    <a class="links" href="/publicposts">public posts</a>
                        <!-- <div class="profile links">
                            <a href="#">Profile</a>
                            <i class="fa-solid fa-user"></i>
                        </div> -->
                        <span onclick=showmenubar()><i class="fa-solid fa-bars menubtn menu"></i></span>
                </div>
            </div>
            <div class="subpage1">
                <h2>We make it happen.</h2>
                <div class="subpage1heading">
                    <h1 class="hvr" id="websites">Websites</h1>
                    <h1 class="hvr" id="tells">Tells</h1>
                    <h1 class="hvr">Identify</h1>
                </div>
            </div>
        </div>
        <!-- <div class="paragraph">
            <p>Leading digital agency with solid design and development expertise.We build readymade,websites,mobile applications and elaborate online business services.</p>
        </div> -->
        <!-- <div class="page2">
            <div class="feature">
                <h1>featured</h1>
                <h1>Projects</h1>
            </div>
            <div class="fimages">
                <div class="fleft">
                    <div class="flefttext">
                        <h5>Mecca</h5>
                        <h1>Official Website Of Riyadh,Saudi Arabia's Capital</h1>
                        <h3>design,development,product</h3>
                    </div>
                    <div class="flefttext">
                        <h5>Oceans</h5>
                        <h1>Live in the sunshine, swim the sea, drink the wild air</h1>
                        <h3>design,development,product</h3>
                    </div>
                    <div class="flefttext">
                        <h5>Frozen Trees</h5>
                        <h1>Silent sentinels of eternity, where time stands frozen in the majestic embrace of ice-crowned peaks.</h1>
                        <h3>design,development,product</h3>
                    </div>
                    <div class="flefttext last">
                        <h5>Landwasser Viaduct</h5>
                        <h1>Trains dance gracefully across Swiss bridges, connecting scenic wonders with precision and poetry</h1>
                        <h3>design,development,product</h3>
                    </div>
                </div>
                <div class="fright">
                    <div class="frightimages">
                        <img src="https://images.unsplash.com/photo-1580418827493-f2b22c0a76cb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2F1ZGklMjBhcmFiaWF8ZW58MHx8MHx8fDA%3D" alt="error">
                        <img src="https://images.unsplash.com/photo-1589634749362-a8ef3056cbe9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2NlYW5zfGVufDB8fDB8fHww" alt="error">
                        <img src="https://images.unsplash.com/photo-1614541609032-1938e724f6a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aWNlJTIwbGFuZHxlbnwwfHwwfHx8MA%3D%3D" alt="error">
                        <img src="https://images.unsplash.com/photo-1615235976643-71351b5716ad?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHN3aXR6ZXJsYW5kJTIwdHJhaW58ZW58MHx8MHx8fDA%3D" alt="error">
                    </div>
                </div>
            </div>
            <div class="pagebutton">
                <button class="btn1 magnet">View all projects</button>
            </div>
        </div> -->
    </div>
    
    
    <!--  Gsap is needed for Basic Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<!-- Scroll Trigger is needed for Scroll Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- Three.js is needed for 3d Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

<!-- ControlKit is needed for Debug Panel -->
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script  type="text/javascript"  src="https://unpkg.com/sheryjs/dist/Shery.js"></script> <!-- Recommended -->

<script src="/javascripts/profile.js"></script>
</body>
</html>
