<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/uploadimage.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>upload profile image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="uploadimage">
            <label for="uploadimage" class="labeluploadimage">
                upload image
            </label>
            <input type="submit" placeholder="submit" class="submit">
        </form>
    </div>
</body>
</html>